*
!.gitignore
!.gitmodules
!hugo.yaml
!README.md

!.github/
!.github/**

!archetypes/
!archetypes/**
!content.en/
!content.en/**
!layouts/
!layouts/**
!resources/
!resources/**
!static/
!static/**
!themes/
!themes/**
