*
!.gitignore

!README.md

!.gitmodules
!.hugo_build.lock
!config.yaml

!archetypes/
!archetypes/**
!content/
!content/**
!data/
!data/**
!docs/
!docs/**
!layouts/
!layouts/**
!resources/
!resources/**
!static/
!static/**
!themes/
!themes/**
